<!DOCTYPE html>
<html>
<head>
    <title>Ваша веб-страница</title>
    <style>
        .card {
            transition: transform 0.3s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(0, 0, 0, 0.15);
        }
    </style>
</head>
<body>
    <div class="col-lg-3 col-md-6 pb-4">
        <!-- Card-->
        <div class="card bg-white rounded shadow-sm" style="border: 1px solid #ccc">
            <div class="card-body px-3 pt-3 pb-1 row">
                <div class="col-12">
                    <a asp-action="Details" asp-route-Id="@Model.ProductId">
                        <img class="card-img-top img-fluid d-block mx-auto mb-3" style="width: 200px; height: 250px;" src="@WebConstants.ImagePath@Model.Image" alt="Card image cap">
                    </a>
                </div>
                <div class="col-12 text-center">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text text-info h5">@Model.Price @WebConstants.MonetaryFormat</p>
                </div>
            </div>
            <div class="card-body p-1 px-3 row">
                <div class="col-12 p-1">
                    <a asp-action="Details" asp-route-Id="@Model.ProductId" class="btn btn-outline-secondary form-control btn-sm p-2" style="height: 40px">View Details</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>