@model WebApp.Models.ViewModels.ProductUserVM
@{
    long sumPrice = 0;
}
<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-5 row container" style="--bs-gutter-x: 0;">
    <div class="col-6">
        <div class="d-flex align-items-center">
            <i class="fa fa-shopping-cart"></i> &nbsp;
            <span>Order Summary</span>
        </div>
    </div>
</div>
            <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">User Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser!.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser!.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser!.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser!.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser!.Email" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser!.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @foreach (var obj in Model.Products)
                                        {
                                            sumPrice += obj.Price;
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div class="col-8">
                                                    <h6 class="my-0">@obj.Name</h6>
                                                    <small class="text-muted">Price: @obj.Price @WebConstants.MonetaryFormat</small>
                                                </div>
                                                <div class="col-2 text-end">
                                                    <img src="@WebConstants.ImagePath@obj.Image" class="rounded" width="50" height="50" alt="@obj.Name" />
                                                </div>
                                            </li>
                                        }
                                        <li class="list-group-item d-flex justify-content-between text-info">
                                            <div>
                                                <h6 class="my-0">Total Price</h6>
                                                <small class="text-muted">@sumPrice @WebConstants.MonetaryFormat</small>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a asp-action="Index" class="btn btn-secondary btn-square form-control btn-lg" style="height: 50px;">Back to Cart</a>
                        </div>
                       <div class="col-12 col-md-6 pb-1">
                            <button type="submit" class="btn btn-success form-control btn-lg" style="height: 50px;">Send request</button>
                       </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}